@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="height: 100%">    

                <div class= "backgraundMenu" style="height: 100%;"></div>
            </div>
